* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
a{
    text-decoration: none;
}
/* .logo{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}
.logo img{
    width: 2.3rem;
    height: 2.2rem;
} */
.cartlogo{
    height: 25px;
    width: 25px;
}
.smart span{
    color: rgb(247, 173, 37);
}
.logo h2{
    font-size: 25px;
}
body {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    color: rgb(247, 173, 37);
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

li {
    background-color: #272727;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

span {
    margin-right: 10px;
    font-size: 16px;
    line-height: 23px;
}
.btns{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.update {
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgb(85, 167, 85);
    cursor: pointer;
}
.delete{
    height: 30px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgb(244, 92, 92);
    cursor: pointer;
}
.add{
    height: 35px;
    width: 150px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgb(247, 173, 37);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formright{
    margin-top: 20px;
}
label {
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}

input {
    margin-top: 5px;
    background-color: #1f1f1f;
    border: none;
    height: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}
.content{
    display: flex;
    width: 1000px;
    height: 100%;
    gap: 100px;
    margin-left: 250px;
    margin-top: 10px;
    border: solid 1px rgb(59, 59, 59);
}
.left{
    width: 50%;
    border-right: solid 1px rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left li{
    width: 80%;
    margin-left: 50px;
}

/* For screens less than 768px wide */
@media only screen and (max-width: 768px) {
    .content {
      flex-direction: column; /* Stack elements vertically */
      width: 100%; /* Content takes full width */
      margin: 0; /* Remove left margin */
      gap: 20px;
    }
  
    .left,
    .right {
      width: 100%; /* Elements take full width */
      border: none; /* Remove borders */
    }
    .left ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left li {
      width: 80%; /* List items adjust to content */
      margin: 10px; /* Adjust margins */
    }
    li span{
        font-size: 14px;
    }
  }