/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.cartlogo{
    height: 25px;
    width: 25px;
}
.smart span{
    color: rgb(247, 173, 37);
}
.logo h2{
    font-size: 25px;
}
.content-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0e0e0e;
    border-radius: 10px;
    height: 550px;
}

h1 {
    color: rgb(247, 173, 37);
    text-align: center;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

label {
    font-size: 18px;
    width: 200px;
}
.inp1{
    display: flex;
    align-items: center;
}
input,
select,
textarea {
    margin-top: 5px;
    background-color: #1f1f1f;
    border: none;
    height: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}

input[type="file"] {
    height: auto;
}

textarea {
    height: 60px;
}

select {
    height: 35px;
}

::placeholder {
    color: rgb(89, 88, 88);
}

::-webkit-file-upload-button {
    background-color: rgb(99, 98, 98);
    border: none;
}

button {
    height: 38px;
    width: 90%;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    background-color: rgb(247, 173, 37);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: rgb(239, 191, 102);
    display: block;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .content-container {
        margin-top: 30px;
        width: 90%;
        height: 70%;
    }
    h1{
        font-size: 23px;
    }

    form {
        width: 100%; /* Adjusted width for small screens */
    }
    .inp1{
        display: flex;
        align-items: center;
        width: 100%;
    }
    label {
        width: 100%; /* Adjusted width for small screens */
        font-size: 15px;
    }

    input,
    select,
    textarea {
        width: 100%; /* Adjusted width for small screens */
    }

    button {
        width: 90%; /* Adjusted width for small screens */
        margin-top: 10px;
    }
}