* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.logo img {
    width: 1.5rem;
    height: 1.5rem;
}

.logo .on {
    color: rgb(247, 173, 37);
}

.userDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.userDetailsContent h1 {
    text-align: center;
    color: rgb(247, 173, 37);
}

.userDetailsContent .userCard {
    background-color: rgb(16, 16, 16);
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 10px 10px;
    width: 85%;
}

.userCardLeft {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.userSection,
.addressSection,
.wishlistSection,
.cartSection,
.orderSection {
    border: solid 1px rgb(83, 82, 82);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    /* width: calc(33% - 20px); */
}
.userCardLeft{
    width: 20%;
}
.wishlistSection{
    width: 20%;
}
.cartSection{
    width: 20%;
}
.orderSection{
    width: 30%;
}
.singleOrder{
    margin-top: 20px;
    border-bottom: solid 1px rgb(49, 49, 49);
    padding-bottom: 10px;
}


.userSection h2,
.addressSection h2,
.wishlistSection h2,
.cartSection h2,
.orderSection h2 {
    text-align: center;
    color: wheat;
}



.userSection p,
.addressSection p,
.addressSection li,
.wishlistSection p,
.cartSection p,
.orderSection p,
.orderSection .orderId,
.orderSection span,
.userSection span {
    color: gray;
}

.userSection span,
.addressSection span,
.wishlistSection span,
.cartSection span,
.orderSection span {
    color: white;
}

.addressSection ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addressSection li {
    list-style: none;
}

.wishlistSection img,
.cartSection img,
.orderSection img {
    height: 60px;
    width: 60px;
}

.wishlistProduct,
.cartProduct,
.orderProducts {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: rgb(151, 149, 149);
    margin-top: 10px;
}

.back {
    position: absolute;
    top: 25px;
    right: 50px;
    color: wheat;
    font-size: 18px;
}

.back i {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .userCardLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .userCardLeft .userSection{
        width: 90%;
        font-size: 15px;
        line-height: 18px;
    }
    .userCardLeft .addressSection{
        width: 90%;
        font-size: 15px;
    }
    .userDetailsContent h1{
        margin-top: 20px;
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    

    .userSection,
    .addressSection,
    .wishlistSection,
    .cartSection,
    .orderSection {
        width: 100%;
    }
}
