<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
    <!--Material CDN-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--STYLESHEET-->
    <link rel="stylesheet" href="css/adminCSS/adminHome.css">
    <link rel="stylesheet" href="css/mainCSS/swal.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/ce01cf2811.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body style="background-color: black;">
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/images/cartlogo.png" alt="cart" class="cartlogo">
                    <h2 class="smart">SHOP <span>ON</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
             
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/userlist">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Customers</h3>
                </a>
                <a href="/productlist">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Products</h3>
                </a>
                <a href="/orderList">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                <h3>Orders</h3>
                </a>            
                <a href="/reviewList" style="margin-bottom: 50px;">
                    <span class="material-icons-sharp">
                        rate_review
                        </span>
                    <h3>Reviews</h3>
                </a> 
                    <a href="/addProduct"><span class="material-symbols-sharp but1"> add_circle</span><h4>Add Product</h4></a>
                    <a href="/addCoupon"><span class="material-symbols-sharp but1">add_circle</span><h4>Add Coupon</h4></a>
                   <a href="/addBanner"><span class="material-symbols-sharp but1">add_circle</span><h4>Add Banner</h4></a>
                <form action="/logout" method="POST">           
                <a href="#">
                    <span class="material-icons-sharp logouticon">
                        logout
                    </span>
                    <h3 class="logout" onclick="logout()">Logout</h3>
                </a>
            </form>
            </div>
        </aside>
        <!------------------ END OF ASIDE -------------------->

        <main>
            <h1>DASHBOARD</h1>

            <div class="date">
                <input type="date"  id="currentDate" readonly>
            </div>
            <div>
                <div class="insights" style="display: flex;gap: 20px;">
                    <div class="sales" style="width: 250px;">
                        <div class="up">
                            <img src="/images/adminHome/sales.png" style="height: 50px;width: 50px;" alt="">
                            <p>Total Sales</p>
                        </div>         
                            <div class="down">
                                <h1>₹ <%= totalSales %></h1>
                            </div>                         
                    </div>
                
                    <!-----------------------END OF SALES----------------------->
                
                    <div class="users" style="width: 250px;">
                        <div class="up">
                            <img src="/images/adminHome/user.png" style="height: 50px;width: 50px;" alt="">
                            <p>Total Users</p>
                        </div>                 
                            <div class="down">
                                <h1><%= totalUsers %></h1>
                        </div>
                    </div>
                    <!-----------------------END OF EXPENSES----------------------->
                
                    <div class="products" style="width: 250px;">
                        <div class="up">
                            <img src="/images/adminHome/shopping-cart.png" style="height: 50px;width: 50px;" alt="">
                            <p>Total Products</p>
                        </div>               
                            <div class="down">
                                <h1><%= totalProducts %></h1>
                        </div>
                    </div>
                    <!-----------------------END OF INCOME----------------------->
            </div>


            <!------------------GRAPHS------------------>
            <div class="relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">  
                <h2>SALES ANALYTICS</h2>
                <div class="pt-6 px-2 pb-0">
                  <div id="bar-chart"></div>
                </div>
              </div>         
            
             <!------------------END OF GRAPHS------------------>

        </main>
       
        <div class="detailsSection">
            <h2>STATISTICS</h2>
            <div class="statistics">
                <div class="popProduct">
                    <p>Most Popular Product :</p>
                    <div class="popAll">
                        <div class="popLeft">
                            <img src="" alt="">
                        </div>
                        <div class="popRight">
                            <h4></h4>
                            <span>Likes</span>
                            <i class="fa-regular fa-heart"></i>
                        </div>     
                    </div>                 
                </div>
                <div class="orderProduct">
                    <p>Most Ordered Product :</p>
                    <div class="orderAll">
                        <div class="orderLeft">
                            <img src="" alt="">
                        </div>
                        <div class="orderRight">
                            <h4></h4>
                            <span>Orders</span>
                            <i class="fa-solid fa-bag-shopping"></i>
                        </div>     
                    </div>     
                </div>
                <div class="activeUser">
                    <p>Most Active User :</p>
                    <div class="activeAll">     
                        <div class="activeUp">
                            <i class="fa-regular fa-user" style="font-size: 15px;"></i>      
                            <h3 style="font-size: 15px;"></h3>
                        </div>
                        <div class="activeDown">
                            <h5></h5>
                            <span>Orders</span>
                            <i class="fa-solid fa-sack-dollar" style="color: wheat;"></i>
                        </div>      
                    </div>  
                </div>
            </div>

            <div class="recent">
                <h2>RECENT UPDATES</h2>
            <ul id="recentUpdatesList">
                <li class="latestUser"></li>
                <li class="pendingOrder"></li>
            </ul>
            </div>

        </div>

        <!-----------------------END OF MAIN----------------------->
    </div>

    <div class="downGraphs">

        <div class="card">
            <h2>USER TRACKING</h2>
            <div class="pulse"></div>
            <div class="area-chart">
                <div class="grid"></div>
            </div>
        </div>

        <div class="pieChart">
            <h2>PRODUCTS COLLECTION</h2>
            <canvas id="myChart" style="width:100%;max-width:300px"></canvas>
        </div>


    </div>


    <script src="js/date.js"></script>
    <script src="js/logout.js"></script>
    <script src="js/graphs.js"></script>
    <script src="js/statistics.js"></script>

</body>
</html>