<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/userCSS/mainHeader.css">
    <script src="https://kit.fontawesome.com/ce01cf2811.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/userCSS/productDetails.css">
    <link rel="stylesheet" href="/css/userCSS/profile.css">
    <link rel="stylesheet" href="/css/userCSS/address.css">
    <link rel="stylesheet" href="/css/userCSS/coupon.css">
    <link rel="stylesheet" href="/css/userCSS/privacy.css">
    <link rel="stylesheet" href="/css/userCSS/wishlist.css">
    <link rel="stylesheet" href="/css/userCSS/cart.css">
    <link rel="stylesheet" href="/css/mainCSS/swal.css">
</head>
<body>
    <div class="header">

        <div class="left">
           <a href="/"><img class="logo" src="/images/cartlogo.png" alt=""> 
            <div class="SHOPON">
                <span class="shop">&nbsp;SHOP</span>
                <span class="on">ON</span></a>
            </div>
                    </div>

                    <div class="search">
                        <input type="text" placeholder="&nbsp;&nbsp;Search for products">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>

                    <div class="right">  
                                            
                            <a href="/profile">
                            <ion-icon name="person-outline" class="profile"></ion-icon>
                            </a> 
                                          
                             <a href="/wishlist">
                            <ion-icon name="heart-outline" class="wishlist"></ion-icon>
                            </a> 
                 
                           <a href="/cart">
                           <ion-icon name="bag-handle-outline" class="cart"></ion-icon>
                           </a>                         

                        </div>
                    </div>


        <script src="/js/heart.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>