<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/mainCSS/login.css">
    <link rel="stylesheet" href="css/mainCSS/swal.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <form action="/newPassword" method="post" style="height: 450px;">

        <div class="left">
            <img class="logo" src="images/cartlogo.png" alt="">
            <div class="SHOPON">
                <span class="shop">&nbsp;SHOP</span>
                <span class="on">ON</span>
            </div>
                    </div>
  
        <h4 style="margin-top: 30px; text-align: center;font-size: 23px;">Change Password</h4>
  
        <label for="password">New Password</label>
        <input type="password" placeholder="********" id="password" name="password">
  
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" placeholder="********" id="confirmPassword" name="confirmPassword">
  
        <button type="submit">Save Password</button>
  
      </form>

      <% if (typeof success !== 'undefined' && success) { %>
        <script>
            Swal.fire({
                title: "Success!",
                text: "<%= success %>",
                icon: "success",
                backdrop: 'rgba(0,0,0,0.9)',
                customClass: {
                    container: 'custom-swal-container',
                    popup: 'custom-swal-popup',
                    title: 'custom-swal-title',
                    text: 'custom-swal-text',
                    confirmButton: 'custom-swal-confirm-button',
                    backdrop: 'rgba(0,0,0,0.9)',
                }
            }).then(() => {
                window.location.href = "/login";
            });
        </script>
    <% } %>

      <script src="js/extras.js"></script>


</body>
</html>