<!-- otp-entry.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Entry</title>
    <link rel="stylesheet" href="css/mainCSS/otp.css">
    <link rel="shortcut icon" href="images/cartlogo.png" type="image/x-icon">
</head>
<body>
    <h4>An OTP was sent to your Phone Number.</h4>
    <form action="/otp" method="post" id="otpForm" class="otpForm"> 
        <div class="left">
            <img class="logo" src="images/cartlogo.png" alt="">
            <div class="SHOPON">
                <span class="shop">&nbsp;SHOP</span>
                <span class="on">ON</span>
            </div>
                    </div>
  
        <input type="text" placeholder="Enter your OTP" id="otp" name="otp">
  
        <% if (errors) { %>
            <p style="color: rgb(235, 80, 80);margin-top: 4px;"><%= errors %></p>
          <% } %>

        <button type="submit" class="verify">Verify OTP</button>
        <button type="button" class="resend">Resend OTP</button>
    </form>

    <script src="/js/resendOtp.js"></script>
    
</body
