<title><%= title %></title>

<%- include('mainHeader.ejs') %> <%- include('profileHeader.ejs') %>

<body>
  <h1>Privacy Policy</h1>
  <div class="para">
    Introduction We value the trust you place in us and recognize the importance
    of secure transactions and information privacy. This Privacy Policy
    describes how Shopon Designs Private Limited and its affiliates
    (collectively "Shopon, we, our, us") collect, use, share, protect or
    otherwise process your personal information through Shopon website
    https://www.shopon.com.
    <br />
    Collection We collect your personal information relating to your identity,
    demographics and when you use our Platform, services or otherwise interact
    with us during the course of our relationship and related information
    provided from time to time. Some of the information that we may collect
    includes but is not limited to Information provided to us during
    sign-up/registering or using our Platform such as name, date of birth,
    address, telephone/mobile number, email ID, occupation and any such
    information shared as proof of identity or address.
    <br />
    Use We use personal information to provide the services you request. To the
    extent we use your personal information to market to you, we will provide
    you the ability to opt-out of such uses. We use your personal information to
    assist sellers and business partners in handling and fulfilling orders;
    enhancing customer experience; to resolve disputes; troubleshoot problems;
    help promote a safe service; collect money; measure consumer interest in our
    products and services, inform you about online and offline offers, products,
    services.
    <br />
    Cookies We use data collection devices such as "cookies" on certain pages of
    the Platform to help analyse our web page flow, measure promotional
    effectiveness, and promote trust and safety. "Cookies" are small files
    placed on your hard drive that assist us in providing our services. Cookies
    do not contain any of your personal information. We offer certain features
    that are only available through the use of a "cookie". We also use cookies
    to allow you to enter your password less frequently during a session.
    Cookies can also help us provide information that is targeted to your
    interests.
    <br />
    Sharing We may share your personal information internally within Shopon
    Group entities, our other corporate entities, and affiliates to provide you
    access to the services and products offered by them, such as the deferred
    payment options Flipkart Pay Later offered by Flipkart Advanz Private
    Limited through its lending partners. These entities and affiliates may
    market to you as a result of such sharing unless you explicitly opt-out. We
    may disclose personal information to third parties. This disclosure may be
    required for us to provide you access to our services and products offered
    to you.
    <br />
    Links to Other Sites Our Platform links to other websites that may collect
    personal information about you. Shopon is not responsible for the privacy
    practices or the content of those linked websites.
    <br />
    Security Precautions To protect your personal information from unauthorised
    access or disclosure, loss or misuse we adopt reasonable security practices
    and procedures, in line with international standards ISO/IEC 27001:2013
    which is recognised as one of the highest information security standards.
    Whenever you access your account information, we offer the use of a secure
    server. The transmission of information is not completely secure for reasons
    beyond our control. We adopt industry standard security measures and keep
    updating our systems from time to time to protect your personal information
    against any hacking or virus dissemination.
    <br />
    Advertisements We use third-party advertising companies to serve ads when
    you visit our Platform. These companies may use information (not including
    your name, address, email address, or telephone number) about your visits to
    this Platform and other websites in order to provide advertisements about
    goods and services of interest to you. You have an option to opt-out from
    tracking of personalized advertising using the “Opt out of Ads
    Personalization” settings using your device’s settings application. Shopon
    will have no access to your GAID once you select this feature.
    <br />
    Data Retention We retain your personal information for a period no longer
    than is required for the purpose for which it was collected or as required
    under any applicable law. However, we may retain data related to you if
    there is a legal obligation to retain the data; if required to comply with
    any applicable statutory or regulatory retention requirement by law; if we
    believe it may be necessary to prevent fraud or future abuse; to enable
    Shopon to exercise its legal rights and/or defend against legal claims; or
    for other legitimate purposes. We may continue to retain your data in
    anonymised form for analytical and research purposes.
    <br />
    Your Rights We take every reasonable step to ensure that your personal
    information that we process is accurate and, where necessary, kept up to
    date, and any of your personal information that we process that you inform
    us is inaccurate (having regard to the purposes for which they are
    processed) is erased or rectified. You may access, correct, and update your
    personal information directly through the functionalities provided on the
    Platform. You may delete certain non-mandatory information by logging into
    our website and visiting Profile and Settings sections.
    <br />
    Changes to this Privacy Policy Please check our Privacy Policy periodically
    for changes. We may update this Privacy Policy to reflect changes to our
    information practices. We will alert you to significant changes by posting
    the date our Privacy Policy got last updated, placing a notice on our
    Platform, or by sending you an email when we are required to do so by
    applicable law.
    <br />
    Grievance Officer Mr. Poovanna PG
    <br />
    Designation: Manager - CC - Social Media
    <br />
    Shopon Designs Pvt Ltd ,
    <br />
    Alyssa, Begonia and Clover situated in Embassy Tech Village,
    <br />
    Outer Ring Road, Devarabeesanahalli Village, Varthur Hobli, Bengaluru,
    Karnataka : 560103, India
    <br />
    Contact us: customergrievance@shopon.com
    <br />
    Phone: 080-61561999
    <br />
    Time: Mon - Fri(9:00 - 18:00)
    <br />
    Customer Support: You can reach our customer support team to address any of
    your queries or complaints by clicking the link, selecting your order:
    https://www.shopon.com/contactus
    <br />
    Queries If you have a query, concern, or complaint in relation to collection
    or usage of your personal information under this Privacy Policy, please
    contact us at the contact information provided above.
    <br />
    Last updated: August 09, 2023.
  </div>
  <script src="/js/count.js"></script>

</body>
