<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Header</title>
    <link rel="stylesheet" href="css/userCSS/profileHeader.css">
    <link rel="stylesheet" href="css/userCSS/address.css">
    <link rel="stylesheet" href="css/userCSS/coupon.css">
    <link rel="stylesheet" href="/css/userCSS/privacy.css">
</head>
<body>
    <div class="part">
        <div><a href="/profile" class="sec1">Profile Details</a></div>
        <div><a href="/orders" class="sec1">Orders</a></div>
        <div><a href="/coupon" class="sec1">Coupons</a></div>
        <div><a href="/address" class="sec1">Addresses</a></div>
        <div><a href="/privacy" class="sec1">Privacy Policy</a></div>
        <div><a href="/logout" class="sec1 logout">LOGOUT</a></div>
    </div>
</body>
</html>