<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Banner</title>
    <link rel="stylesheet" href="/css/adminCSS/updateBanner.css">
    <script src="https://kit.fontawesome.com/ce01cf2811.js" crossorigin="anonymous"></script>
</head>
  <body>
    <a href="/adminHome">
      <div class="logo">
        <img src="/images/admin.png" alt="Avatar" class="avatar">
        <h2 class="smart">HAANI</h2>
      </div>
    </a>
    <div class="content">
      <h1>Update Banner</h1>

      <form action="/updateBanner/<%= banner._id %>" method="post">
        <label for="imageUrl">Image URL:</label>
        <input type="text" id="imageUrl" name="imageUrl" value="<%= banner.imageUrl %>">
        <label for="newImageUrl">New Image URL (Optional):</label>
        <input type="file" accept="image/*"  id="newImageUrl" name="newImageUrl">
        <label for="content">Content:</label>
        <input type="text" id="content" name="content" value="<%= banner.content %>">
    
        <button type="submit">Update Banner</button>
      </form>
    <br>
      <a href="/addBanner"><i class="fa-solid fa-arrow-left"></i> &nbsp; Go Back to Banner Lists</a>
    </div>
  
</body>
</html>
