*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: 0 0 8px 2px rgb(86, 86, 86);
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
  }
  .logo {
    height: 22px; 
    width: auto; 
  }
  
  .SHOPON {
    display: flex;
    font-size: 22px;
    font-weight: 700;
  }
  
  .SHOPON .on {
    color: rgb(247, 173, 37);
  }
.left a{
    text-decoration: none;
}
.searchForm input {
    background-color: rgb(31, 31, 31);
    height: 35px;
    position: relative;
    margin-left: 300px;
    border: none;
    border-radius: 8px;
    color: white;
    padding-left: 5px;
    /* top: 6px; */
    width: 60%;
}
.search{
    width: 50%;
}
.search form{
    display: flex;
}

.search button {
    position: relative;
     right: 25px;
    /* top: 5px;   */
    border: none;
    background: none;
    color: rgb(173, 172, 172);
}
::placeholder{
    color: rgb(148, 145, 145);
}
a{
    color: white;
    font-size: 25px;
}
.right{
    display: flex;
    gap: 15px;
    margin-left: 450px;
}

.wish_cart_count{
  height: auto;
  width: auto;
  position: relative;
}
.wishlist-count{
  position: absolute;
  top: -7px;
  right: -2px;
  color: white;
  background-color: red;
  height: 14px;
  width: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 11px;
}
.cart-count{
  position: absolute;
  top: -7px;
  right: -2px;
  color: white;
  background-color: red;
  height: 14px;
  width: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 11px;
}



/* Responsive adjustments */
@media only screen and (max-width: 1500px) {
    .header {
      padding: 5px 10px;
    }
  
    .left {
      margin-left: 10px; 
    }
  
    .searchForm input {
      margin-left: 50px; 
      width: 90%; 
    }
  
    .right {
      margin-left: 100px;
    }
  
    .right a {
      font-size: 20px; 
    }

  }

  @media screen and (max-width:600px) {
    .header {
        padding: 5px 10px;
        width: 100%;
      }

      .left{
        margin-left: 5px;
      }
   .SHOPON{
    width: 150px;
   }
    
      .searchForm input {
        margin-left: 0px; 
        width: 170px; 
      }
    
      .right {
        margin-left: 5px;
      } 
    
      .right a {
        font-size: 20px; 
      }

    
}