* {
  font-family: 'Poppins', sans-serif;
}

/* Default styles */

.noOrders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.noOrders img {
  height: 150px;
  width: 150px;
}

.noOrders .oops {
  color: gray;
  font-size: 18px;
}

.noOrders .startShopping {
  height: 38px;
  width: 170px;
  background-color: rgb(14, 13, 13);
  color: rgb(247, 173, 37);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.orders-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.order-item {
  border: solid 1px rgb(50, 50, 50);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(14, 13, 13);
  display: flex;
  flex-direction: column;
}

.order-item .order-item-left {
  width: 100%;
}

.product-item img {
  height: 100px;
  width: 100px;
}

.order-item .orderDate {
  border-bottom: solid 1px rgb(247, 173, 37);
  padding-bottom: 5px;
  width: 80%;
}

.single-product {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}

.single-productRight {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.single-productRight .productName {
  color: rgb(216, 215, 215);
  font-size: 18px;
  font-weight: bold;
}

.single-productRight .productQuantity {
  color: gray;
}

.single-productRight .productReview{
  background-color: rgb(14, 13, 13);
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(247, 173, 37);
  cursor: pointer;
}
.single-productRight .productReview:hover{
  background-color: rgb(19, 18, 18);
}
.single-productRight .productReturn{
  background-color: rgb(14, 13, 13);
  height: 30px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(82, 121, 239);
  cursor: pointer;
}
.single-productRight .productReturn:hover{
  background-color: rgb(19, 18, 18);
}
.single-productRight .buttons{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.order-item-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.order-item-rightUp,
.order-item-rightDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.order-item-rightUp .orderId {
  color: wheat;
  font-weight: bold;
}

.deliveryAddress {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  color: rgb(162, 161, 161);
  justify-content: center;
}

.deliveryAddress span {
  text-align: center;
  width: 50%;
}

.order-item-rightUp .orderAmount {
  color: rgb(247, 173, 37);
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.order-item-rightUp .paymentMethod {
  margin-top: 10px;
  color: rgb(159, 158, 158);
}

.order-item-rightDown .deliveryDate {
  color: rgb(35, 172, 88);
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.orderStatus {
  font-weight: bold;
  font-size: 18px;
}

.orderStatus span {
  color: yellow;
}

.order-item-rightDown .cancelOrder {
  background-color: rgb(14, 13, 13);
  height: 35px;
  width: 140px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(245, 58, 58);
  cursor: pointer;
  margin-top: 8px;
}

/* Media Queries for responsiveness */

@media only screen and (min-width: 768px) {
  .orders-content {
    width: 70%;
  }

  .order-item {
    flex-direction: row;
  }

  .order-item .order-item-left {
    width: 40%;
  }

  .order-item-right {
    width: 60%;
    margin-left: 50px;
  }

  .deliveryAddress {
    width: 80%;
  }

  .deliveryAddress span {
    width: unset;
  }
}

@media only screen and (max-width: 768px) {
  .orders-content {
    width: 90%;
  }

  .order-item .order-item-left {
    width: 100%;
  }

  .order-item-right {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .deliveryAddress{
    width: 100%;
  }
  .deliveryAddress span {
    width: 75%;
  }
  .deliveryDate{
    margin-top: 10px;
  }
}
